/*******************************************************************/
/******                  LISTA DE ESTILOS                     ******/
/*******************************************************************/

/*********************************/
/******     GENERALES      ******/
/*********************************/

@font-face {
    font-family: "8bitoperator JVE Regular";
    src: url("8bitoperator_jve.eot?") format("eot"), url("8bitoperator_jve.woff") format("woff"), url("8bitoperator_jve.ttf") format("truetype"), url("8bitoperator_jve.svg#8bitoperator-JVE") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*********************************/
/******     INDEX.HTML      ******/
/*********************************/
canvas {
    display: block;
}

h1 {
    text-align: center;
}

#particles-js {
    width: 100%;
    min-width: 400px;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Media/img/wallpaper/wallpaper2.gif");
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.centerCanvas {
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    /*Positioning*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Styles*/
    letter-spacing: 2px;
}

.centerCanvas2 {
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*Positioning*/
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Styles*/
    letter-spacing: 2px;
}

.centerCanvas h1,
.centerCanvas2 h1 {
    font-family: '8bitoperator JVE Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 10px;
    font-size: 3rem;
    color: white;
}
#welcome{
    font-family: '8bitoperator JVE Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.centerCanvas2 h1 {
    border-bottom: 3px solid white;
}

.centerCanvas2 ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.centerCanvas2 a {
    color: #ffffff;
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

.centerCanvas2 ul li {
    margin: 0;
    width: 100%;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.centerCanvas2 ul li:hover {
    background-color: rgba(234, 234, 234, 0.1);
    border-radius: 5px;
}
.centerCanvas2 a:hover {
    color: #8b8b8b;
    cursor: pointer;
    
}

.centerCanvas p {
    opacity: 0;
    font-size: 3rem;
    color: rgb(215, 215, 215);
    margin-bottom: 15%;
    margin-top: -10%;
}

.centerCanvas a {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -15%;
    color: rgb(243, 158, 221);
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.5s;
}

.centerCanvas a img {
    width: 30%;
    margin-bottom: 50px;
}

.centerCanvas a img:hover {
    opacity: 0.7;
    transition: 1s;
}

.centerCanvas a span {
    margin-top: -10%;
}

.centerCanvas a:visited {
    color: rgb(243, 158, 221);
}

.centerCanvas a:hover {
    color: rgb(138, 77, 143);
}

.centerCanvas a:visited:hover {
    color: rgb(138, 77, 143);
}

button {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid white;
    color: white;
    transition: 0.5s;
    padding: 10px;
    font-size: 2.5rem;
    margin-bottom: 10%;
}

button:hover {
    cursor: pointer;
    background-color: rgba(183, 183, 183, 0.8);
}

button:disabled {
    color: rgb(190, 190, 190);
    border: 5px solid rgb(112, 112, 112);
    transition: 1s;
}

button:disabled:hover {
    background-color: rgba(183, 183, 183, 0.2);
}

.fade-in-animation {
    animation: fade-in 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*********************************/
/******     INTRO.HTML      ******/
/*********************************/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header h1 {
    text-align: center;
}

p,
li {
    text-align: justify;
    margin: 10px;
    color: #d8d8d8;
}

ul li,
ol li,
.list {
    margin-left: 100px;
}

.index-list {
    color: #fff;
    font-size: 1.10rem;
    margin-left: 50px;
    margin-top: 20px;
}



.subindex-list {
    color: #8b8b8b;
    font-size: 1.05rem;
    margin-left: 75px;
}

.subtopic,
.index {
    font-size: 1.30rem;
}

.subtopic {
    color: #e21c90;
    margin: 100px 0 20px 0;
    border-bottom: 3px solid #e21c90;
}
/*#e21c90
#d11d59*/
.index:not(:first-child) {
    color: #cf0079;
    border-bottom: #cf0079 3px solid;
    border-radius: 2px;
    margin: 10% 0 0;
}

.index:first-child {
    color: #cf0079;
    border-bottom: #cf0079 3px solid;
    border-radius: 2px;
    margin: 0;
}

.sub-subtopic {
    font-size: 1.10rem;
    font-weight: 800;
    margin: 30px 0 0 0;
}


#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background-color: white;
}

#fp-nav ul li a.active span {
    height: 24px;
    width: 24px;
    margin: -12px 0 0 -12px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section h1 {
    text-align: center;
    margin: 10px;
    color: #d11d59;
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.content {
    padding: 50px;
   /* background-color: rgba(183, 183, 183, 0.2);*/
   background-color: rgba(17, 16, 21, 0.8);
    border-radius: 10px;
    margin: 0 auto 5% auto;
}

.content2{
    background-color: rgba(17, 16, 21, 0.9);
}

#section2ID .content {
    width: 80vw;
}

#section1ID .content {
    width: 60vw;
}

#section1ID {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("../Media/img/wallpaper/code.gif");
    justify-content: center;
}

#section2ID {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Media/img/wallpaper/city.gif");
    justify-content: center;
}

#section3ID {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Media/img/wallpaper/wallpaper10.gif");
    justify-content: center;
}
#section3ID h1{
    color: white;
}

#section1ID p {
    text-align: left;
}

.description img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 300px;
    background-color: rgba(84, 84, 84, 0.3);
    border-radius: 10px;
}

.description h1 {
    color: #d11d59;
}

.description p,
li {
    font-weight: 500;
}

.description ul {
    margin: 20px 0;
}

strong {
    font-weight: 1000;
}


/* Estilos básicos de la barra de navegación */
label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #000;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #000, 0 0 0 0 #000;
    cursor: pointer;

}

label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #d83b7a;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #d83b7a;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: 0 0 0 100vw #000, 0 0 0 100vh #000;
    border-radius: 0;
}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;

}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;

}

.show {
    display: block;
    /*opacity: 1;*/
}

label ul {
    list-style: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    width: 40vw;
}

img#links-img2 {
    top: 55%;
}

label img {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    transition: 0.25s 0s ease-in-out;
    width: 300px;
}

label a {
    font-family: '8bitoperator JVE Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 8px;
    margin: 1em;
    display: block;
    color: #d83b7a;
    text-decoration: none;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

label a:hover {
    background-color: #8b8b8b;
    color: #fff;
}

footer{
    font-size: 1.15rem;
    position: absolute;
    top: 90%;
    z-index: 100;
    width: 100vw;
    height: 200px;
    background: #000;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #000, 0 0 0 0 #000;
    cursor: pointer;
}
footer a{
    color: white;
    padding: 10px;
}
footer a:hover{
    color: #cf0079;
}

.container{
    font-family: '8bitoperator JVE Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

